<p>My <%= link_to "resume", "/files/education/eric_thomas_resume.pdf" %>,
  (<%= link_to "latex source",
              "http://github.com/et/resume/blob/master/eric_thomas.tex" %>).</p>
<p>I graduated from Rowan University in May of 2009 with a B.S. in
   Computer Science. I have specializations in Software Engineering, Information
   Technology, Programming Languages &amp; Compilers, and Artificial Intelligence.</p>
<p>If you would like a copy of my transcript,
   please <%= link_to "contact me", contact_path %>.</p>
