<p>
  Welcome to Eric Thomas' website. I am currently employed with the
  <%= link_to "Federal Aviation Administration" "http://faa.gov" %>
  prototyping air traffic control systems.</p>
<p>I've been learning as much as I can about the CS field since my
  early years in high school. Since graduating from my
  <%= link_to "alma mater" "http://rowan.edu" %>, I've found my that
  my programming style has changed greatly.<br />
  Sometimes it's best to just sum it up in a small list.</p>
<ul>
  <li>Editor - vim</li>
  <li>Version control - git</li>
  <li># of spaces for indenting - 2</li>
  <li>Window manager - fluxbox</li>
  <li>Language - Ruby/Python/bash</li>
</ul>

<p>Outside of the CS field, I enjoy <%= link_to "running" running_path %>,
   zombie movies, live music, diners, road trips, board games, microbrewed
   beers, and trying new things.</p>
