<p>
  Welcome to Eric Thomas' website. I am currently employed with
  <%= image_tag "me.jpg", :class => "right" %>
  <%= link_to "Aspera", "http://www.asperasoft.com" %>
  developing web applications.</p>
<p>I have been learning as much as I can about the CS field since my
  early years in high school. Since graduating from my
  <%= link_to "alma mater", "http://www.rowan.edu" %> and embarking
  on my journey as a full time programmer, I've found that my style has
  changed greatly.<br />
  I feel that a programmer's tools and traits reveal a lot
  about a person, so without further ado:</p>
<ul>
  <li>Editor - vim</li>
  <li>Version control - git</li>
  <li># of spaces for indenting - 2</li>
  <li>Window manager - Gnome 3</li>
  <li>Language - Ruby/C++/bash</li>
</ul>

<p>Outside of the CS field, I enjoy <%= link_to "running", running_path %>,
   zombie movies, live music, diners, road trips, board games, microbrewed
   beers, and trying new things.</p>
