<p>Running is something that I have a strong passion for in life.
   <%= image_tag("me_running.jpg", :class=> "left") %>
   I find that it becomes difficult going a day without getting the
   daily run in since running is what keeps me focused and driven.
   Running has kept me in great shape, introduced me to many new people,
   and given me a great outlook on life.
   I've been involved in competitive distance running for the past ten
   years of my life and plan on continuing for many years to come.</p>

<p>My personal records are:<br />
   800m: 2:05<br />
   1500m: 4:16<br />
   1600m: 4:34<br />
   5000m: 16:04<br />
   8000m: 26:28<br />
   10000m: 34:10<br />
   Marathon: 2:52:11</p>
